* {
  box-sizing: border-box;
}

:root {
  color: #f6fcff;
  font-family: 'Manrope', sans-serif;
  line-height: 1.4;
  font-weight: 500;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
